@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

:root {
    --white: hsl(0, 0%, 100%);
    --lght-grey: hsl(0, 0%, 50%);
    --bluish-grey: hsl(220, 15%, 55%);
    --dark-blue: hsl(218, 44%, 22%);

    --wght400: 400;
    --wght700: 700;
}

* {
    margin: 0;
}

body {
    background-color: var(--bluish-grey);
    font-family: "Outfit", sans-serif;
    display: grid;
    min-height: 90vh;
    place-items: center;
}

.card {
    height: max-content;
    width: 250px;
    background-color: var(--white);
    padding: 15px;
    border-radius: 15px;
}

img {
    display: block;
    height: 250px;
    width: 250px;
    border-radius: 15px;
    margin: 0 auto;
}

p.bold {
    color: var(--dark-blue);
    font-size: 20px;
    font-weight: var(--wght700);
    text-align: center;
    padding: 20px 0 20px;
}

p.normal {
    color: var(--lght-grey);
    font-size: 15px;
    font-weight: var(--wght400);
    text-align: center;
}

.attribution { font-size: 11px; position: fixed; bottom: 0; right: 0;}
.attribution a { color: hsl(228, 45%, 44%); }